/* 
|------------------------------------------------------------------
| CSS CUSTOM PROPERTIES
|------------------------------------------------------------------
*/

:root {
  /* Colors */
  --color-primary: #ff764d;
  --color-secondary: #0000ff;
  --color-surface: #FFFFFF;
  --color-text-default: #111111;
  --color-text-secondary: #6B7280;

  /* Font Family */
  --font-family: 'Nunito', sans-serif;

  /* Font Sizes */
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.255rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;
  --fs-3xl: 3rem;
  --fs-4xl: 4rem;

  /* Line Heights */
  --line-height-tight: 1.1;
  --line-height-base: 1.5;

  /* Font Weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}

/*
|--------------------------------------------------------------------------
| 2. BASE RESET & ACCESSIBILITY
|--------------------------------------------------------------------------
*/

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, svg, video {
  display: block;
  max-width: 100%;
  height: auto;
}