/* 
|------------------------------------------------------
| CSS CUSTOM PROPERTIES
|------------------------------------------------------
*/

:root {
  /* Colors */
  --color-primary: #ff764d;
  --color-secondary: #0000ff;
  --color-surface: #FFFFFF;
  --color-text-default: #111111;
  --color-text-secondary: #6B7280;
  --color-divider: #E5E7EB;

  --about-bg-1: #fbffa7;
  --collage-bg: #b6ffc0;
  --dev-collage-bg: #d5b3ff;
  --cta-bg: #b1c5ff;

  /* Font Family */
  --font-family: 'Nunito', sans-serif;

  /* Font Sizes */
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.255rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;
  --fs-3xl: 3rem;
  --fs-4xl: 6rem;

  /* Line Heights */
  --line-height-tight: 1.1;
  --line-height-base: 1.5;

  /* Font Weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 5rem;
  --margin-spacing: 6rem;
  --footer-grid-gap: 3rem;
  --letter-spacing-tight: -2px;
}

/*
|------------------------------------------------------
|  BASE RESET & ACCESSIBILITY
|------------------------------------------------------
*/

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, svg, video, picture {
  display: block;
  max-width: 100%;
  height: auto;
}


/* 
|------------------------------------------------------
| BASE STYLES
|-----------------------------------------------------
 */

body {
  font-family: var(--font-family);
  font-size: var(--fs-base);
  line-height: var(--line-height-base);
  color: var(--color-text-default);
  background-color: var(--color-surface);
}

h1 { font-size: var(--fs-4xl); line-height: var(--line-height-tight); letter-spacing: var(--letter-spacing-tight); }
h2 { font-size: var(--fs-3xl); line-height: var(--line-height-tight); }
h3 { font-size: var(--fs-xl); }
h4 { font-size: var(--fs-xl); line-height: var(--line-height-tight);}

a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.2s ease;
}

ul, ol {
  list-style: none;
}


/* 
|-----------------------------------------------------
|  COMPONENTS
|-----------------------------------------------------
 */
.nav-container {
  max-width: 1500px;
  width: 95%;
  margin-inline: auto;
}

.global-wrapper {
  max-width: 1000px;
  margin-inline: auto;
}

.content-wrapper {
  max-width: 700px;
  margin-inline: auto;
}

 /* 
 |-----------------------------------------------------
 |  SECTIONS
 |-----------------------------------------------------
  */

/* ---------- Header ---------- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm);
}

.nav-menu, .nav-cta, .nav-secondary {
  display: flex;
  gap: var(--spacing-md);
  font-weight: var(--fw-bold);
  font-size: var(--fs-base);
}

.nav-secondary {
  padding: var(--spacing-sm);
}

.nav-secondary li:first-child {
  color: var(--color-primary);
}

.divider {
  border: 1px solid var(--color-divider);
  opacity: 0.5;
}


/* ---------- Hero ---------- */
.hero {
  margin-bottom: var(--margin-spacing);
}
.hero-container {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* ---------- About ---------- */
.about-head {
  margin-bottom: var(--spacing-sm);
}

.purpose-container {
  margin-bottom: var(--margin-spacing);
}

.flex-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--margin-spacing);
}

.outer-layout-container {
  background-color: var(--about-bg-1);
  padding: var(--spacing-lg);
  width: 60%;
  height: 45rem;
}

.inner-layout {
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.about-music {
  margin-bottom: var(--margin-spacing);
}

.about-music-header {
  margin-bottom: var(--spacing-sm);
}


/* Video Overlay */
.video-wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: var(--margin-spacing);
}

.video-container {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
  cursor: pointer;
  background-color: var(--color-text-default);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.video-container:hover .video-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.play-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  border: none;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-container:hover .play-button {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.play-triangle {
  fill: white;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.video-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-text-default);
  color: var(--color-surface);
  display: none;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-xl);
  padding: var(--spacing-sm);
}

.video-info {
  background-color: var(--color-surface);
  padding-block: var(--spacing-xs);
}


.about-population {
  margin-bottom: var(--margin-spacing);
}

.about-population h3 {
  margin-bottom: var(--spacing-xs);
}


.collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.third-image {
  grid-column: 2/3;
  grid-row: -3/-1;
}

.collage-container {
  position: relative;
  margin-bottom: var(--margin-spacing);
}

.green-bg {
  background-color: var(--collage-bg);
  width: 60%;
  height: 63rem;
}

.collage, .dev-collage {
  position: absolute;
  top: 0;
  right: 0;
  left: 136px;
  bottom: 0;
}

.about-descipline, .about-passion,
.dev-collage-container, .about-employees,
.cta-content, .cta, main {
  margin-bottom: var(--margin-spacing);
}

.about-descipline h3, .about-passion h3, 
.about-passion p, .about-employees h3,
.cta-content p, .newsletter-signup p {
  margin-bottom: var(--spacing-sm);
}

.dev-collage-container { position: relative; }

.dev-collage-bg {
  background-color: var(--dev-collage-bg);
  width: 65%;
  height: 45rem;
  margin-inline: auto;
}

.dev-collage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- Cta ---------- */
.cta { display: flex; }

.cta-image { flex: 1; }

.cta-content {
  flex: 1;
  background-color: var(--cta-bg);
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
}


/* ---------- Footer ---------- */
footer {
  display: flex;
  flex-direction: column;
  gap: var(--footer-grid-gap);
}

footer a { color: var(--color-text-default); }

.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-column-1, .footer-column-2, 
.footer-column-3 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: var(--footer-grid-gap);
}

.newsletter-form {
  display: flex;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: var(--spacing-xs);
  border: none;
  border-radius: 3px 0 0 3px;
  background-color: rgb(241, 241, 241);
  outline: none;
}

.newsletter-form button {
  background-color: var(--color-secondary);
  color: var(--color-divider);
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0 3px 3px 0;
  font-weight: var(--fw-bold);
}

.select-group {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

select {
  flex: 1;
  padding: 0.3rem;
  background-color: var(--color-surface);
  font-weight: var(--fw-bold);
}

.footer-bottom-bar {
  display: flex;
  justify-content: space-between;
  font-weight: var(--fw-bold);
  margin-bottom: var(--footer-grid-gap);
}

.legal-links {
  display: flex;
  gap: var(--spacing-sm);
  font-size: var(--fs-sm);
}

.legal-links a { color: var(--color-text-default); }